.img {
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.Weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}
.Weather{
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;  
}
.Card-container{
  
  display: fixed;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;

  color: white;
}
.input{
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;  
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}



.searchbar{
  height: 100vh;
font-size: 25px;
}

.btns {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.list-item{
  text-decoration: none;
  padding: 10px;

}
.list{
  display: flex;
  justify-content: space-around;
  
 
}
 .list-item{
  font-size: medium;
  
  color: aquamarine;
}